@import "tailwindcss";

@layer components {
    .btn {
        @apply inline-flex items-center font-medium rounded-lg transition-all duration-200;
    }

    .btn-sm {
        @apply gap-1.5 px-3 py-1.5 text-sm;
    }

    .btn-lg {
        @apply gap-2 px-4 py-2.5 text-base;
    }

    .btn-primary {
        @apply bg-linear-to-r from-blue-600 to-blue-700 text-white hover:from-blue-700 hover:to-blue-800;
    }
}